NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

JWT_ACCESS_SECRET="replace_with_a_strong_64_character_secret"

ALLOWED_ORIGINS="http://localhost:5173,https://yourdomain.com"
